<% provide(:page_title, @post.title) %>
<% provide(:authot, 'active') %>



<div class="row card">
	<div>
	<%= link_to 'Edit', edit_authors_post_path(@post), class: 'btn btn-sm btn-warning' %>
	<%= link_to 'Delete', authors_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
	</div>
	<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xl-center center-block">
		<div class="card-title">
			<h1> <%= @post.title %></h1>
		</div>
		<div class="card-subtitle mb-2 text-muted">
			<p> <%= @post.display_day_published %></p>
		</div>	
		<div class="card-body">
			<%= @post.body.html_safe %>
		</div>
	</div>
</div>